@media (min-width: 1025px) {
  .footer-main {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .main-content {
    grid-template-columns: repeat(3,1fr);
  }

  .nav-toggle { display: none; }

  .navigation {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;

    width: auto;
    height: auto;
    padding: 0;
    box-shadow: none;
    background: transparent;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 20px; 
  }

  .forms {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .membership{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    padding: 10px;
  }

  .local-business {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.business-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-columns: 1fr 1fr;
  grid-template-areas: "heading heading" "image info" "link link";
  gap: 12px;
}

.business-card img {
  max-width: 300px;
  max-height: auto;
}

.business-card a {
    width: 100%;
}
}
